<header class="header select-none">
    <a class="logo" title="{{site.title}}" href="{{site.context}}/">
        <img src="{{site.context}}/static/img/logo.jpg">
    </a>
    <a class="title" href="{{site.context}}/">{{site.title}}</a>
    <nav class="menu">
        <a href="{{site.context}}/">Projects</a>
        <a href="{{site.context}}/pages/categories.html">Categories</a>
        <a href="{{site.context}}/pages/search.html">Search</a>
        <a href="{{site.context}}/markdown-cv/">CV</a>
        <a href="{{site.context}}/pages/about.html">About</a>
    </nav>
    <span class="icon"></span>
</header>