<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.1/annyang.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/0.3.0/speechkitt.min.js"></script>
<script>
if (annyang) {
  // Add our commands to annyang
  annyang.addCommands({
    'Play music': function() {
      window.open("https://www.youtube.com/watch?v=OD3F7J2PeYU");
    }
  });
  annyang.addCommands({
    'Open Google': function() {
      window.open("https://www.google.com");
    }
  });
  annyang.addCommands({
    'Hey Ryan': function() {
      window.open("https://ryanxjhan.github.io/pages/about.html");
    }
  });
  annyang.addCommands({
    'I love you': function() {
      window.open("https://www.youtube.com/watch?v=v1IYF30QIDA");
    }
  });
  annyang.addCommands({
    'Kris Best Song': function() {
      window.open("https://www.youtube.com/watch?v=v1IYF30QIDA");
    }
  });
  

  // Tell KITT to use annyang
  SpeechKITT.annyang();

  // Define a stylesheet for KITT to use
  SpeechKITT.setStylesheet('//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/0.3.0/themes/flat-clouds.css');

  // Render KITT's interface
  SpeechKITT.vroom();
}
</script>