<!DOCTYPE html>
<html>
	<!-- Link Gitalk -->
	<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
	<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
	<div id="gitalk-container"></div>     
	<script type="text/javascript">
    	var gitalk = new Gitalk({
        clientID: 'c1b556f19ed9cbeb13ae',
        clientSecret: '17f17f12a3969bad09f386b46cd9a2ef2837aaa7',
        repo: 'https://ryanxjhan.github.io',
        owner: 'ryanxjhan',
        admin: ['ryanxjhan'],
        id:window.location.pathname,
    });
    	gitalk.render('gitalk-container');
	</script> 
	<!-- Gitalk end -->
	<script type="text/javascript"
		src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
	</script>
	<head>
		<link href="/css/style.css" rel="stylesheet">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="keywords" content="{{ site.author }}{% for category in page.categories %},{{ category }}{% endfor %}"/>
		<meta name="author" content="{{ site.author }}" />
		<meta name="description" content="{{ page.title }}"/>
		<link rel="icon" href="{{site.context}}/static/img/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="{{site.context}}/static/img/favicon.ico" type="image/x-icon"/>
		<link rel="stylesheet" href="{{site.context}}/static/css/blog.css">
		<link rel="stylesheet" href="{{site.context}}/static/css/blog-post.css">
		<script>window.blog={contextPath:""}</script>
		<script type="text/javascript" src="{{site.context}}/static/js/blog.js"></script>
		<title>{{ page.title }}-{{ site.title }}</title>
	</head>
<body>
{% include header.html %}
	<div class="main animation-fadeUp post">
		{% if page.title %}
		<h1 class="title">{{ page.title }}</h1>
		{% endif %}
		<div class="content">{{ content }}</div>
	</div>
{% include footer.html %}

